################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.lock
*.vsidx
*.suo
*.1
*.dll
*.props
*.exe
*.json
/Sydy.Championship.API/obj/Debug/net6.0/Sydy.Championship.API.assets.cache
/Sydy.Championship.API/obj/Debug/net6.0/Sydy.Championship.API.csproj.AssemblyReference.cache
*.CopyComplete
*.cache
/Sydy.Championship.API/obj/project.nuget.cache
/Sydy.Championship.API/obj/project.assets.json
/Sydy.Championship.API/obj/Sydy.Championship.API.csproj.nuget.dgspec.json
/Sydy.Championship.API/obj/Sydy.Championship.API.csproj.nuget.g.props
/Sydy.Championship.API/obj/Sydy.Championship.API.csproj.nuget.g.targets
/Sydy.Championship.Application/obj/Debug/net6.0/Sydy.Championship.Application.assets.cache
/Sydy.Championship.Application/obj/Debug/net6.0/Sydy.Championship.Application.csproj.AssemblyReference.cache
/Sydy.Championship.Application/obj/project.nuget.cache
/Sydy.Championship.Application/obj/project.assets.json
/Sydy.Championship.Application/obj/Sydy.Championship.Application.csproj.nuget.dgspec.json
*.pdb
/Sydy.Championship.Infrastructure/obj/project.assets.json
/Sydy.Championship.Infrastructure/obj/Debug/net6.0/Sydy.Championship.Infrastructure.assets.cache
/Sydy.Championship.Infrastructure/obj/Debug/net6.0/Sydy.Championship.Infrastructure.csproj.AssemblyReference.cache
/Sydy.Championship.Infrastructure/obj/project.nuget.cache
/Sydy.Championship.Infrastructure/obj/Sydy.Championship.Infrastructure.csproj.nuget.dgspec.json
/Sydy.Championship.Infrastructure/obj/Sydy.Championship.Infrastructure.csproj.nuget.g.targets
/Sydy.Championship.Infrastructure/obj/Sydy.Championship.Infrastructure.csproj.nuget.g.props
/Sydy.Championship.API/obj/Debug/net6.0/Sydy.Championship.API.csproj.FileListAbsolute.txt
/Sydy.Championship.API/obj/Debug/net6.0/Sydy.Championship.API.MvcApplicationPartsAssemblyInfo.cs
*.txt
*.config
/Sydy.Championship.API/obj/Debug/net6.0/Sydy.Championship.API.AssemblyInfo.cs
/Sydy.Championship.API/obj/Debug/net6.0/Sydy.Championship.API.AssemblyInfoInputs.cache
*.BuildWithSkipAnalyzers
/Sydy.Championship.Application/obj/Debug/net6.0/Sydy.Championship.Application.AssemblyInfoInputs.cache
/Sydy.Championship.Application/obj/Debug/net6.0/Sydy.Championship.Application.AssemblyInfo.cs
/Sydy.Championship.CoreBusiness/obj/Debug/net6.0/Sydy.Championship.CoreBusiness.AssemblyInfo.cs
/Sydy.Championship.CoreBusiness/obj/Debug/net6.0/Sydy.Championship.CoreBusiness.AssemblyInfoInputs.cache
/Sydy.Championship.CoreBusiness/obj/project.assets.json
/Sydy.Championship.CoreBusiness/obj/project.nuget.cache
/Sydy.Championship.CoreBusiness/obj/Sydy.Championship.CoreBusiness.csproj.nuget.dgspec.json
/Sydy.Championship.Infrastructure/Migrations/20230311082154_Init-Team.cs
/Sydy.Championship.Infrastructure/obj/Debug/net6.0/Sydy.Championship.Infrastructure.AssemblyInfo.cs
/Sydy.Championship.Infrastructure/obj/Debug/net6.0/Sydy.Championship.Infrastructure.AssemblyInfoInputs.cache
/Sydy.Championship.Infrastructure/Migrations/20230311082154_Init-Team.Designer.cs
/Sydy.Championship.Infrastructure/Migrations/ChampionshipDbContextModelSnapshot.cs
/Sydy.Championship.API/Sydy.Championship.API.csproj.user
/.editorconfig
/Sydy.Championship.Infrastructure/Migrations/20230312011544_Create-Championship.cs
/Sydy.Championship.Infrastructure/Migrations/20230312011544_Create-Championship.Designer.cs
